<div class="row">
  <div class="col-10 offset-1">
    <div class="row">
      <div class="col-8">
        <h3 class="mb-5 mt-5">{{ title }}</h3>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a [routerLink]="['/posts']" class="btn btn-md btn-block btn-info">All Posts</a>
            <a [routerLink]="['/users']" class="btn btn-md btn-block btn-info">All Users</a>
            <a [routerLink]="['/users/create']" class="btn btn-md btn-block btn-info">Create Users</a>
            <a [routerLink]="['/users/create-reactive']" class="btn btn-md btn-block btn-info">Create Users (reactive-validations)</a>


            
          </div>
          <div class="col-md-9">

            <router-outlet ></router-outlet>
          </div>
    </div>
  </div>
</div>
